# --find-links https://download.pytorch.org/whl/torch_stable.html
--find-links https://download.pytorch.org/whl/cu111/torch_stable.html

dill
git+https://github.com/deepmind/dm-haiku
jax
jaxlib
matplotlib
numpy
pillow-simd
pyyaml
requests
tensorboard
torch>=1.8
torchvision>=0.9