# --find-links https://download.pytorch.org/whl/torch_stable.html
--find-links https://download.pytorch.org/whl/cu110/torch_stable.html

dill
git+https://github.com/deepmind/dm-haiku
jax
jaxlib
matplotlib
numpy
pillow-simd
pyyaml
requests
tensorboard
torch>=1.7.1+cu110
torchvision>=0.8.2+cu110